@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color-1: #ca7850;
  --brand-color-2: #0d3c48;
  --brand-color-3: #2b3f52;
  --brand-color-4: #7ea6e3;

  --main-text-color: #0a0a0a;
  --muted-text-color: #262626;

  --main-bg-color: #fafafa;
  --muted-bg-color: #f5f5f5;

  --animated-border-offset: 10%;
  --animated-border-color: #a3a3a3;
  --animated-border-duration: 2s;
}

.dark {
  --brand-color-1: #f2b597;
  --brand-color-2: #1c5e6e;
  --brand-color-3: #b0b791;
  --brand-color-4: #98bbf5;

  --main-text-color: #e5e5e5;
  --muted-text-color: #a3a3a3;

  --main-bg-color: #0a0a0a;
  --muted-bg-color: #171717;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
