@mixin light-theme-colors {
  --animated-border-color: #a3a3a3;
}

@mixin dark-theme-colors {
  --animated-border-color: #a3a3a3;
}

:root {
  --animated-border-offset: 10px;
  --animated-border-duration: 2s;
  @include light-theme-colors();
}

body.dark {
  @include dark-theme-colors();
}

body.light {
  @include light-theme-colors();
}

body.system {
  @media (prefers-color-scheme: dark) {
    @include dark-theme-colors();
  }

  @media (prefers-color-scheme: light) {
    @include light-theme-colors();
  }
}

@media (prefers-color-scheme: dark) {
  body::after {
    content: "dark";
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  body::after {
    content: "light";
    display: none;
  }
}
